* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	/* max-width: 1200px; */
	/* margin: o auto; */
	font-family: 'Poppins', sans-serif;
	margin: 87px 120px 0 120px;
}

/* Heading Section Styles */
nav {
	display: flex;
	justify-content: space-between;
  margin-bottom: 50px;
}
.nav-title {
	font-weight: 700;
	font-size: 24px;
	color: #3a3a3a;
}
nav ul {
	display: flex;
	align-items: center;
}
nav li {
	list-style: none;
	margin-right: 34px;
}
nav a {
	text-decoration: none;
	color: #3a3a3a;
}
nav a:hover {
	cursor: pointer;
	color: lightcoral;
}

/* banner Section  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 33px; */
}
.banner__info{}
.banner__info-title{
  font-weight: 700;
  font-size: 52px;
  color: #3A3A3A;
  margin-bottom: 16px;
}
.banner__info-desc{
  color: #3A3A3A;
  margin-bottom: 16px;
}
.banner__info-btn{
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 41px;
  border-style: none;
  background-color: #E02C6D;
  color: #FFFFFF;
}
.banner__img {
  position: relative;
  display: flex;
  margin-left: 131px;
}
.banner__img-bag {
width: 475px;
}
.banner__img-font {
  position: absolute;
  width: 440px;
}
