* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins', sans-serif;
}
header {
	/* margin: 87px 120px 0 120px; */
}

/* Heading Section Styles */
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.nav-title {
	font-weight: 700;
	font-size: 24px;
	color: #3a3a3a;
}
nav ul {
	display: flex;
	align-items: center;
}
nav li {
	list-style: none;
	margin-right: 34px;
}
nav a {
	text-decoration: none;
	color: #3a3a3a;
}
nav a:hover {
	cursor: pointer;
	color: lightcoral;
}

/* banner Section Style */
.banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 33px; */
}
.banner__info {
}
.banner__info-title {
	font-weight: 700;
	font-size: 52px;
	color: #3a3a3a;
	margin-bottom: 16px;
}
.banner__info-desc {
	color: #3a3a3a;
	margin-bottom: 16px;
}
.banner__info-btn {
	font-weight: 700;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 41px;
	border-style: none;
	background-color: #e02c6d;
	color: #ffffff;
}
.banner__img {
	position: relative;
	display: flex;
	margin-left: 131px;
}
.banner__img-bag {
	width: 475px;
}
.banner__img-font {
	position: absolute;
	width: 440px;
}

/* Main Section Start */
main {
	/* margin: 0 196px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* brand Section Style */
.brand {
	margin-top: 69px;
}
.brand ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.brand li {
	list-style: none;
	margin-right: 61px;
}

/* Popular Collection Style */
.container {
	margin-top: 100px;
	width: 1047px;
}
.section-title {
	text-align: center;
	font-weight: 600;
	font-size: 28px;
	color: #3a3a3a;
	margin-bottom: 30px;
}
.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	justify-content: center;
}
.product {
	width: 329px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding: 14px;
}
.product img {
	width: 300px;
	height: 256px;
}
.product__detail {
}
.product__detail-title {
	font-weight: 500;
	font-size: 28px;
	color: #18191f;
	margin-top: 16px;
	margin-bottom: 6px;
}
.product__detail-price {
	font-weight: 400;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.87);
}
.product__detail-info {
	display: flex;
	gap: 8px;
	align-items: flex-end;
}
.product-star {
}
.filled {
	color: #fb8200;
	font-size: 16px;
}
.product-price {
	font-weight: 700;
	font-size: 14px;
	color: #5e6366;
}
.product__detail-desc {
	font-weight: 700;
	font-size: 14px;
	color: #787885;
}
.SeeMore {
	text-align: right;
	margin-top: 50px;
}
.SeeMore a {
	text-decoration: none;
	color: rgba(224, 44, 109, 0.87);
	font-weight: 700;
	font-size: 16px;
}

/* Featured Products Style */
.featured {
	display: flex;
	align-items: center;
}
.featured__img {
	margin-right: 96px;
}
.featured__img img {
	width: 404px;
	border-radius: 7px;
}
.featured__info {
}
.featured__info-title {
	font-weight: 700;
	font-size: 38px;
	color: #0a0826;
	margin-bottom: 16px;
}
.featured__info-desc {
	font-weight: 700;
	font-size: 16px;
	color: #6c6c6c;
	margin-bottom: 16px;
}
.featured__info-btn {
	font-weight: 700;
	font-size: 16px;
	background-color: #e02c6d;
	color: #ffffff;
	border: none;
	padding: 10px 25px;
}
